.imgWrapper {
  position: relative;
  width: 200px;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.img {
  margin-left: 39px;
  max-height: 100px;
  max-width: 200px;
  object-fit: contain;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.arrow {
  z-index: 1;
  position: absolute;
  bottom: 20px;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.73);
  border: none;

  &:before {
    content: "";
    position: absolute;
    top: 9px;
    padding: 3px;
    pointer-events: none;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
  }

  &.arrowPrev {
    right: 52px;

    &:before {
      left: 10px;
      transform: rotate(135deg);
    }
  }

  &.arrowNext {
    right: 20px;

    &:before {
      right: 10px;
      transform: rotate(-45deg);

    }
  }
}